
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="h1">POLLS PROJECT</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="bg-light">

  <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark shadow-sm">
        <li class="nav-item m-1">
          <a class="navbar-brand ali " href="{% url 'polls:index' %}"> POLLS </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link fw-light text-white" href="{% url 'polls:logout' %}">Logout</a>
        </li>
        <a class="nav-link fw-light text-white ms-auto" href="{% url 'polls:my_profile' %}">{{user.username}}</a>
        {% else %}
        <li class="nav-item">
          <a class="nav-link fw-light text-white" href="{% url 'polls:login_user' %}">Login</a>
        </li>
        {% endif %}
      </nav>
  </div>

  <div class="container px-4 p-5">
      <div class="row gx-5">

        <div class="col-sm-6 col-md-8 border rounded bg-white">
          <div class="p-5">
            <h1 class="h1 text-start">{{question.question_text}}</h1>
            <p class="text-end"> Deadline in this poll {{question.deadline}}</p>



            <div class="list-group">
              <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
              {% for choice in question.choice_set.all %}
              <div class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="choice"  id="choice{{ forloop.counter }}" value="{{ choice.id }}"checked>
                  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                </div>
              </div>
              {%endfor%}
              {%if question.is_out_of_time == False %}
                      <p class="h6 p-2">this poll is no longer available for voting</p>
                      <div class="d-flex justify-content-end p-3">
                          <input  class="btn btn-outline-dark"type="submit" value="Submit your vote" disabled>
                      </div>
                {%else%}
                <div class="d-flex justify-content-end p-3">
                    <input  class="btn btn-outline-dark"type="submit" value="Submit your vote">
                </div>
              {%endif%}
              <!--<div class="d-flex justify-content-end p-3">
                  <input  class="btn btn-outline-dark"type="submit" value="Submit your vote">
              </div> -->
              </form>
            </div>

          </div>
        </div>

        <div class="col-sm border rounded bg-white ms-5 w-50">
          <div class="p-5">
            <p class="h6">Votes in this poll</p>
            <h3 class="h3">{{question.total_votes}}</h3>
            <div class="border border-dark"></div>

            <div class="container p-3">
              <p class="fs-6">This users already have vote</p>
            </div>

            <div class="list-group">
              {%for user in question.user_votes%}
                <li class="list-group-item fs-6">{{user.Voter_username}}</li>
              {%endfor%}
            </div>

          </div>
          </div>
        </div>


      </div>

</body>
</html>
<!-- <div class="d-flex justify-content-center p-3">
  <ul class="list-group list-group-flush border">
      <li class="list-group-item list-group-item-dark""> This users have already vote</li>
    {% for user in question.user_votes %}
      <li class="list-group-item"> {{user.Voter_username}}</li>
    {% endfor %}
  </ul>
</div> -->
